<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Jia Liang | Software Engineer</title>
    <meta
      name="description"
      content="Personal website of Singapore software engineer, Jia Liang"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://jialiang.github.io/favicon.png"
    />
    <link rel="canonical" href="https://jialiang.github.io" />
    <meta name="theme-color" content="#000" />
    <meta
      name="image"
      content="https://jialiang.github.io/images/project-1-780.jpg"
    />
    <meta name="author" content="Jia Liang, hojialiang@yahoo.com" />
    <link rel="stylesheet" href="index.css" data-embed />
    <meta
      name="google-site-verification"
      content="6uPryOYYLhFpVTaC-X1zqPucQxYuBHjYXV-V6UE4hSQ"
    />
  </head>
  <body>
    <div class="sub-body">
      <%- include("components/about/index") %>
      <!--  -->
      <%- include("components/work/index") %>
      <!--  -->
      <%- include("components/thanks/index") %>
      <!--  -->
      <%- include("components/website/index") %>
      <!--  -->
      <%- include("components/matrix/index") %>
      <!--  -->
      <%- include("components/gems/index") %>
      <!--  -->
      <%- include("components/shit/index") %>
      <!--  -->
      <%- include("components/construction/index") %>
      <!--  -->
      <%- include("components/mainmenu/index") %>
      <!--  -->
      <%- include("components/transition/index") %>
      <!--  -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="cover"
        viewbox="0 0 1706.667 960"
        preserveAspectRatio="none"
      >
        <path
          d="M0 124.2c206.25-47.977 424.076-63.795 642.053-79.196l50.205 14.142 451.84-19.092c178.004 4.59 346.625-5.83 562.545 59.428L1706.666 0H0zM1706.68 839.735L271 917 0 807.062V960h1706.667z"
        ></path>
      </svg>

      <a class="button back to-mainmenu" href="#" title="Go back to Main menu"
        >BACK</a
      >
      <a
        class="button back to-work"
        href="#work"
        title="Go back to Work section"
        >BACK</a
      >
    </div>
  </body>
</html>
